table, th, td {
    border: 1px solid black;
    text-align: left;
  }
table{
    font-size: 12px;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    column-width: 10px;
}
.display{
    padding-top: 20px;
    padding-right: 95px;
}
.prevNext{
    display: flex;
    justify-content: space-between;
}




